.flex {
  display: flex;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}

.enemy-damage {
  box-shadow: 0 0 17px 1px red;
}
.enemy {
  margin-bottom: 10px;
}

.character {
  height: 250px;
}
